{% extends_admingenerated "NitraActionManagementBundle:ActionManagementList:row.html.twig" %}

{% trans_default_domain "NitraActionManagementBundle" %}

{% block list_td_column_type %}
    {% if Action.type %}
        {{ ('fields.type.choices.' ~ Action.type)|trans }}
    {% endif %}
{% endblock list_td_column_type %}