{% extends_admingenerated "NitraActionManagementBundle:ActionManagementNew:index.html.twig" %}

{% block javascript_head %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#{{ form.category.vars.id }}').parents('.form_row').hide();
            $('#{{ form.brand.vars.id }}').parents('.form_row').hide();
            $('#{{ form.discount.vars.id }}').parents('.form_row').hide();
            $('div.tabs a[data-tab]').last().hide();
            $('#{{ form.type.vars.id }}').on('change', function(){
                $('ul[data-prototype*="{{ form.products.vars.id }}"] li').remove();
                if ($(this).val() == 'product') {
                    $('#{{ form.category.vars.id }} option').prop("selected", false).parents('.form_row').slideUp();
                    $('#{{ form.brand.vars.id }}').select2('val', '').parents('.form_row').slideUp();
                    $('#{{ form.discount.vars.id }}').val('').parents('.form_row').slideUp();
                    $('div.tabs a[data-tab]').last().fadeIn();
                } else if ($(this).val() == 'total') {
                    $('#{{ form.category.vars.id }}').parents('.form_row').slideDown();
                    $('#{{ form.brand.vars.id }}').parents('.form_row').slideDown();
                    $('#{{ form.discount.vars.id }}').val('').parents('.form_row').slideDown();
                    $('div.tabs a[data-tab]').last().fadeOut();
                } else {
                    $('#{{ form.category.vars.id }} option').prop("selected", false).parents('.form_row').slideUp();
                    $('#{{ form.brand.vars.id }}').select2('val', '').parents('.form_row').slideUp();
                    $('#{{ form.discount.vars.id }}').val('').parents('.form_row').slideDown();
                    $('div.tabs a[data-tab]').last().fadeOut();
                }
            });
        });
    </script>
{% endblock javascript_head %}